body{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    border: 1px solid black;
    padding: 23px;
    width: 500px;
    display: flex;
    flex-direction: column;

}
input{
    margin: 12px;
}
#name_error, #email_error{
    
    display: none;
}
span{
    color: red;
}